.afb_normaal{
    width: 700px;
}
.btn{
    background-color: #FFBA00;
}
.wires{
    float:left;
    width: 500px;
}
title{
    font-family: 'open sans', sans-serif;
}
.button_afgerond{
    border-radius: 15px 50px;
}
.afb_klein{
    width: 500px;
}
.afb_extra_klein{
    height: 500px;
}