.mijnklasse {
    width: 700px;
}
.journey{
    width: 700px;
}
.btn{
    background-color: turquoise;
}
.wires{
    float:left;
    width: 500px;
}
title{
    font-family: 'open sans', sans-serif;
}
.button_afgerond{
    border-radius: 15px 50px;
}